/* dark green fade background from top right to bottom left */
body {
    background: linear-gradient(to bottom left, #509b45, #126e5f);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #fff;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}   

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  
footer {
    position : absolute;
    bottom : 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

